@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/distin_logo_512px.png" style="max-width:90%" />
    <br />
    <h1>DISTRIBUTED IDENTITY<br />INFORMATION NETWORK</h1>
    <br />
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form action="">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="@("user@" + AppConfig.Current.ServiceDomain)" aria-label="ID" aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i class="bi bi-box-arrow-in-right"></i> Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>
